.flex {
	display: flex;
	align-items: center;
}

.active {
	position: relative;
	display: inline-block;
	color: #fff;
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		top: 100%;
		left: 0;
		background-color: #fff;
	}
}
